src/main/mule/testdb.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="45627e53-2590-44d0-aa21-9abdc6f3feb3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	
	<flow name="getByID" doc:id="2481cd04-bf90-47d9-9c73-51f8f22569f8" >
		<http:listener doc:name="Listener" doc:id="93da5022-7a33-443f-820f-6a308b801a91" config-ref="HTTP_Listener_config" path="/*"/>
		<set-payload value="Testing CICD using Travis CI" doc:name="Set Payload" doc:id="2eb44f40-c4d0-4067-89cd-cb321ceb6594" />
		<logger level="INFO" doc:name="Logger" doc:id="331bee1a-d4cb-4094-b5bf-ba14a92ecc58" message='payload #[payload]'/>
	</flow>
	
	
</mule>
