target/classes/testdb.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="45627e53-2590-44d0-aa21-9abdc6f3feb3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="d6c44914-d7ac-4a40-8e6b-6db90cf56306" >
		<db:my-sql-connection host="192.168.0.10" port="3306" user="root" password="root22" />
	</db:config>
	<sub-flow name="getAll" doc:id="8dc3ab8b-9379-4fb5-b15d-b115d5d2e0fc" >
		<db:select doc:name="Select" doc:id="adb95f2e-e0b6-4a05-a475-2101a94cbcd8" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from sakila.actor
]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="a49c1fe5-c8f7-47ab-a2d0-b510b0884d47" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="1c327cbf-d5e8-4100-ab03-1a3bd21d842f" />
		<logger level="INFO" doc:name="Logger" doc:id="150ab7d6-5b73-4c6b-b622-950f23de8f9f" message='#[payload]'/>
	</sub-flow>
	
	<flow name="getByID" doc:id="2481cd04-bf90-47d9-9c73-51f8f22569f8" >
		<db:select doc:name="Select" doc:id="0db33f10-863b-40de-a18a-09702ae66aa9" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from sakila.actor
where actor_id=:value]]></db:sql>
			<db:input-parameters ><![CDATA[#[{"value": vars.actor_id}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="210b3300-59a4-4a11-bb66-6d009413ee87" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="2eb44f40-c4d0-4067-89cd-cb321ceb6594" />
		<logger level="INFO" doc:name="Logger" doc:id="331bee1a-d4cb-4094-b5bf-ba14a92ecc58" message='payload #[payload]'/>
	</flow>
	
	
</mule>
